body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: blueviolet;
}

.site-title {
    color: green;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
    
}

ul li {
    list-style: square;
}

ul li:nth-child(odd) {
    background-color: #96c4da;
}

nav a {
    text-decoration: none;
    background-color: #969696;
    border: 1px solid #443ca8;
    padding: 5px 10px;
    margin-right: 5px;
    color: #000000;
}